<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="cmp3C54573B769BB249FBF91EB6F407A96D" Directory="INSTALLFOLDER" Guid="F42A33DD-5638-4AAD-A536-B2379E9A37B8">
                <File Id="fil2F0A6D5C480CECE186326444A331DCC0" KeyPath="yes" Source="$(var.WindowsFormsApp1.TargetDir)\HelloWorld.Business.dll" />
            </Component>
            <Component Id="cmp3314CE0065314F0D7C3B8FF776966943" Directory="INSTALLFOLDER" Guid="B50C5B55-7766-4E1F-B082-D175AD0729BF">
                <File Id="filC3DB69F7348EA9A6CD4E661E5CDB40AE" KeyPath="yes" Source="$(var.WindowsFormsApp1.TargetDir)\HelloWorld.Business.pdb" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Directory="INSTALLFOLDER" Guid="A3BE50E4-8F5E-47FD-8BA0-F4C50F3B476C">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.WindowsFormsApp1.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Directory="INSTALLFOLDER" Guid="ED2AC01E-CC2F-491B-9039-5D1B7C7739C6">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.WindowsFormsApp1.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp633D38D60F99B260BDE92B7BE1CBAE79" Directory="INSTALLFOLDER" Guid="C50E2BAE-85C4-4718-BB54-1848C9239203">
                <File Id="fil4C96B0F7EC5BB7E6E6640C8C76ABD33D" KeyPath="yes" Source="$(var.WindowsFormsApp1.TargetDir)\WindowsFormsApp1.exe" />
            </Component>
            <Component Id="cmpFBA122E1C290FA48D974F3677E42C1DC" Directory="INSTALLFOLDER" Guid="9C5B7381-0FF7-4C49-81DA-991172C331F7">
                <File Id="fil1C1F477E5CCCB2A98415266F8C5114BF" KeyPath="yes" Source="$(var.WindowsFormsApp1.TargetDir)\WindowsFormsApp1.exe.config" />
            </Component>
            <Component Id="cmp7F8F84C93C7CFC9A867C3FD3D9A95F90" Directory="INSTALLFOLDER" Guid="768E297B-80C9-4730-A9FC-B904012FA2E0">
                <File Id="fil47E50698E178076076B9CF80550879CD" KeyPath="yes" Source="$(var.WindowsFormsApp1.TargetDir)\WindowsFormsApp1.pdb" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>